version: 2

jobs:
  build:
    docker:
      - image: "debian:stretch"
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt-get install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Installing GCC
          command: 'apt-get update && apt-get install -y gcc g++ make'
      - run:
          name: Install CMAKE
          command: 'apt-get update && sudo apt-get install -y cmake && cd TDD'
      - run:
          name: Creating Build Files
          command: 'cd TDD && cmake ..'
      - run:
          name: Creating Binary Files
          command: 'cd TDD && make'
      - run:
          name: TDD APP test
          command: 'cd TDD && ./StravaV10'
